[Unit]
Description=Resize filesystem to partition size

[Service]
Type=oneshot
ExecStart=/usr/bin/rpi-resize2fs start

[Install]
WantedBy=multi-user.target
